<div class="container">
  <div class="row">
    <div *ngFor="let movie of movies" class="col-md-3 p-4">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" [src]="getUrlMovie(movie.poster_path)" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }} {{movie.release_date | date }}</h5>
            <p class="card-text" *ngIf="movie.overview">{{ movie.overview }}</p>
            <p class="card-text" *ngIf="!movie.overview">Sem descrição</p>
            <a href="#" class="btn btn-secondary">Detalhes</a>
          </div>
        </div>
    </div>
  </div>
</div>