.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    float: left;
    height: 940px;
    .card-text{
        font-size: 12px;
    }
}
